.grid-container {
    display: grid;
    grid-template-columns: 350px 100px 150px;
    grid-template-rows: 50px 50px 50px 50px;
    padding: 10px;
}

.boost-button {
    grid-column-gap: 50px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}